<script type="text/javascript" src="js/skrollr.js"></script>
<div style="">
        <ul id="nav" data-0="position:static;" data-top-top="position:fixed;top:0;" data-edge-strategy="set" data-start="opacity:0;width:100%;" data-1499="" data-1500="opacity:1;width:8%;">
        
        </ul>
        <!--placeholder div to prevent jumpy content when nav gets pinned-->
        <div style="padding:1em;margin-left:500px;" data-0="" data-top-top="display:block;" data-anchor-target="#nav" data-edge-strategy="set">
        </div>
  <!-- div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;"></div>
  <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;"></div>
  <div id="bg3" data-0="background-position:0px 0px;" data-end="background-position:-500px -6000px;"></div -->

  <!-- div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div -->

  <!-- First Slide... Hello --> 
  <div id="intro" data-0="opacity:1;transform:rotate(0deg);transform-origin:0 0;" data-800="opacity:1;left:20%;width:40%;transform:rotate(-0deg);">

          <div class="huge-text">Hello.</div>
					<h2 style="font-size:30px !important;line-height:40px !important; !important;padding-top:0px;">My name is Francke and I'm a hybrid designer-dev. Francke (pronounced Frank) is a fancier spelling of my name. Nevermind that.
					I make ambitious cross platform apps &amp;! prototypes.</h2>
					<h2><strong>Recent:</strong> launched linx, sun-times iOS7 app, monthlys.com, groupon</h2>
					<br />
          <div class="intro-phone" data-0="" data-3000=""><img src="img/home_phone.png" />

            <div class="intro-phone-layer" data-0="margin-top:-67.9%;" data-1370="margin-top:-200%;" ><img src="img/intro-phone-1.png" /></div>
            <div class="intro-phone-layer" data-0="margin-top:-43.9%;" data-2070="margin-top:-200%;" ><img src="img/intro-phone-1.png" /></div>
            <div class="intro-phone-layer" data-0="margin-top:-43.9%;" data-2970="margin-top:-200%;" ><img src="img/intro-phone-1.png" /></div>
            <div class="intro-phone-layer" data-0="margin-top:-43.9%;" data-3070="margin-top:-200%;"><img src="img/intro-phone-1.png" /></div>
          </div>
          

          

  </div>





  <!-- Slide 1 - Linx--> 
  <div class="slide1" data-1600="height:0%;bottom:0%;" data-2300="height:100%;bottom:0%;width:120%"></div>

  <div id="transform" data-2200="left:0%;margin-left:-100%;opacity:0;" data-3000="left:22%;margin-left:0%;opacity:1;top:2%;text-align:left;" data-5000="" data-5500="opacity:0;">
  	<div class="huge-text" style="">Got time for my self plug?</div>
	<h2 style="font-size:30px !important;line-height:40px !important; !important;padding-top:0px;">
		Francke is German for "Beast" - and that's because I'm a beast. I'll make your software look better, run better and I'll make it infinately more scalable than Amazon. Ok, maybe not infinitely. Oh, I'll also make your crap work on all devices.

		<br /> <br />
		Ok, good for me - so take a look at my work now:
	</h2><br />
	<img src="http://placehold.it/250x250">
	<img src="http://placehold.it/250x250">
	<img src="http://placehold.it/250x250">
					<br />


  </div>



  <!-- Slide 2 - Mobilex--> 
  <div class="slide2" data-4500="height:0%;bottom:0%;" data-5000="height:100%;bottom:0%;"></div>
  <div id="transform" data-2900="transform:scale(0);left:0%;top:-10%;" data-3200="transform:scale(1);opacity:1;left:40.5%;top:0%;">
    
  </div>


  <div id="" data-5100="opacity:0;left:0%;transform:rotate(0deg);transform-origin:0 0;" data-5300="opacity:1;left:8.5%;transform:rotate(-0deg);" data-6900="" data-7200="opacity:0;transform:rotate(-0deg);">
    <img src="img/mbx_title.png" />
  </div>

  <div class="mbx-inner-slide1" data-4500="margin-top:-140%;transform:rotate(-20deg);transform-origin:0 0;z-index:9993" data-5500="margin-top:7%;transform:rotate(-40deg);" data-5800="margin-top:27%;transform:rotate(0deg);" data-7000="margin-top:27%;transform:rotate(0deg);z-index:9999;margin-left:0%;"  data-7500="" data-7900="margin-left:-230%;" ><img src="img/mbx_slide_2.png">
    <!-- div class="mbx-color-change" data-3800="opacity:0;" data-4000="opacity:1;"></div>
    <div class="mbx-color-change2" data-3900="opacity:0;" data-4100="opacity:1;"></div -->

  </div>

  <div class="mbx-inner-slide1" data-4700="margin-top:-140%;transform:rotate(-30deg);transform-origin:0 0;" data-6500="margin-top:7%;transform:rotate(-20deg);z-index:9998" data-7000="margin-top:27%;transform:rotate(0deg);z-index:9999;margin-left:0%;"  data-7500="" data-7900="margin-left:-230%;" ><img src="img/mbx_slide_3.png"></div>

  <div class="mbx-inner-slide1" data-4800="margin-top:-40%;transform:rotate(-10deg);transform-origin:0 0;z-index:9990" data-5000="margin-top:27%;transform:rotate(0deg);z-index:9991;margin-left:0%" data-7000="transform:rotate(0deg);z-index:9993;margin-left:0%;" data-7500="" data-7900="transform:rotate(0deg);z-index:9999;margin-left:-240%;"><img src="img/mbx_slide_1.png" /></div>
  


  <!-- Slide 2 .. Mobilex > 
  <div class="mbx-pat-1" data-4000="margin-top:-40%;" data-5000="margin-top:10%;" data-6900="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-2" data-3900="margin-top:-30%;" data-5000="margin-top:10%;" data-6700="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-3" data-3600="margin-top:-20%;" data-5000="margin-top:10%;" data-6500="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-4" data-3700="margin-top:-50%;" data-5000="margin-top:10%;" data-6900="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-5" data-3500="margin-top:-40%;" data-5000="margin-top:10%;" data-7300="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-6" data-3950="margin-top:-35%;" data-5000="margin-top:10%;" data-7400="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div >

  <div class="mbx-pat-1" data-3800="margin-top:-70%;" data-5000="margin-top:30%;" data-6100="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-2" data-3900="margin-top:-60%;" data-5000="margin-top:30%;" data-6700="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-3" data-3600="margin-top:-50%;" data-5000="margin-top:30%;" data-6500="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-4" data-3700="margin-top:-40%;" data-5000="margin-top:30%;" data-6300="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-5" data-3500="margin-top:-80%;" data-5000="margin-top:30%;" data-7300="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div>
  <div class="mbx-pat-6" data-3950="margin-top:-65%;" data-5000="margin-top:30%;" data-6100="" data-7500="margin-top:240%;"><img src="img/mbx_pattern1.png" /></div -->


  <!-- div id="properties" data-1700="top:100%;" data-2200="top:0%;" data-3000="display:block;" data-3700="top:-100%;display:none;">
    <h2>all numeric properties</h2>
    <p>width, height, padding, font-size, z-index, blah blah blah</p>
  </div -->

  <div id="easing_wrapper" data-0="display:none;" data-6600="display:block;" data-=6900="background:rgba(0, 0, 0, 0);color[swing]:rgb(0,0,0);" data-9900="background:rgba(0,0,0,1);color:rgb(255,255,255);" data-12000="top:0%;" data-14000="top:-100%;">
    
    <!-- div id="thing" data-0="left[cos]:10%;top[sin]:10%;" data-10000="left:90%;top:90%;"></div>
    <div class="drop" data-7500="left:15%;bottom:100%;" data-9500="bottom:0%;">linear</div>
    <div class="drop" data-7500="left:25%;bottom[quadratic]:100%;" data-9500="bottom:0%;">quadratic</div>
    <div class="drop" data-7500="left:35%;bottom[cubic]:100%;" data-9500="bottom:0%;">cubic</div>
    <div class="drop" data-7500="left:45%;bottom[swing]:100%;" data-9500="bottom:0%;">swing</div>
    <div class="drop" data-7500="left:55%;bottom[WTF]:100%;" data-9500="bottom:0%;">WTF</div>
    <div class="drop" data-7500="left:65%;bottom[inverted]:100%;" data-9500="bottom:0%;">inverted</div>
    <div class="drop" data-7500="left:75%;bottom[bounce]:100%;" data-9500="bottom:0%;">bounce</div -->
  </div>





  <div id="download" data-12000="top[cubic]:100%;border-radius[cubic]:0em;background:rgb(0,50,100);border-width:0px;" data-14000="top:10%;border-radius:2em;background:rgb(190,230,255);border-width:10px;">
  </div>


<!-- section class="home_row row_hero" style="background-color:#ecf3f5;">



<div class="container" style="margin-top:0px;text-align:center;">
	<div class="row"  ng-controller="HomeCtrl">

	            

	
	          <div class="col-large66-12">
	              




			<div class="row" ng-app="franckeApp" ng-controller="HomeCtrl">
				<div class="col-md-11" style="padding:30px 8% 0px 9%;"><br /><br /><br /><br />
					<div class="huge-text">Hello.</div>
					<h1>My name is Francke (fræŋk) and I'm a hybrid designer-dev.
					I make ambitious cross platform apps &amp;! prototypes.</h1>
					<h2><strong>Recent:</strong> launched linx, sun-times iOS7 app, monthlys.com, groupon</h2>
				</div>
			</div>    
	</div>
	<br /><br /><br /><br /><br /><br />
</div>



    </section>


<section class="home_row row_shipmyapp" style="text-align:left;position:">
<div class="col-md-12" style="padding:30px 8% 0 9%;min-height:400px;">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<img src="/app/img/heros/sma-iphone.png" />
		</div>
		<div class="col-md-7">
		<img src="/app/img/heros/sma-logo.png" /><br />
		<h1 style="font-size:36px !important;margin-top:20px !important;">Create and publish your very own iPhone app in less than an hour.</h1>
	
		<div class="wireBtn">Checkout Project</div>
		</div>


</div>

</section>
<section class="home_row row_ciw" style="text-align:left;position:">
<div class="col-md-12" style="padding:30px 8% 0 9%;min-height:400px;">
asdfads


</div>

</section>



<div id="Stage" class="EDGE-52300494"></div -->

</div>s



  <script type="text/javascript">
  var s = skrollr.init({
    forceHeight: true,
    edgeStrategy: 'set',
    easing: {
      WTF: Math.random,
      inverted: function(p) {
        return 1-p;
      }
    },
    easing: {
      sin: function(p) {
        return (Math.sin(p * Math.PI * 2 - Math.PI/2) + 1) / 2;
      },
      cos: function(p) {
        return (Math.cos(p * Math.PI * 2 - Math.PI/2) + 1) / 2;
      },
    },
    render: function(data) {
      //Loop
      if(data.curTop === data.maxTop) {
        this.setScrollTop(0, true);
      }
    }

  });
  </script>
