<div class="row" ng-app="franckeApp" ng-controller="HomeCtrl">
	<div class="col-md-12">
<div class="huge-text">Hello.</div>
<h1>My name is Francke (fræŋk) and I'm a hybrid designer-dev.
I make ambitious cross platform apps.</h1>

<h2><strong>Recent:</strong> launched linx, sun-times iOS7 app, monthlys.com, groupon</h2>
<br />
<br />
<div class="col-md-12" style="background-color:#00a0c2;">
	<div class="row heros">
		<div class="col-md-3">
		<img src="/app/img/heros/sma-iphone.png" />
		</div>
		<div class="col-md-9" style="margin-top:20px;">
		<img src="/app/img/heros/sma-logo.png" /><br />
		<h1 style="color:#fff !important;font-size:36px !important;margin-top:20px !important;">Create and publish your very own iPhone app in less than an hour.</h1>
	
		<div class="wireBtn">Checkout Project</div>
		</div>

	</div>
</div>

<div class="col-md-12" style="background-color:#83bd44; margin-top:40px;width:100%;height:400px;"></div>

<div class="col-md-12" style="background-color:#89bbde; margin-top:40px;width:100%;height:400px;"></div>


<div class="col-md-12" style="background-color:#f64a4e; margin-top:40px;width:100%;height:400px;"></div>

<div class="col-md-12" style="background-color:#f5ec2d; margin-top:40px;width:100%;height:400px;"></div>






</div>





