
  <div class="row" style="width:105%;text-align:center;left:0px; background-color:#00a0c2;padding:200px;">

      <div class="row">
        <div class="col-md-12">
          <div class="huge-text">{{project.name}}</div>
          <h1 style="color:#fff !important;">{{project.description}}</h1>
        </div>
      </div>
      
	</div>


   
    <br /><br /><br />

    <div class="row">
		<div class="col-md-12">
			<h1>
				Style Guide
			    </h1>
			    <p class="">
				We translated our Photoshop style guide to a working CSS3 &amp; HTML5 document for our developers. Otherwise known as an IxD framework, we’re known for creating tradeoffs when we do how we do.
			    </p>
		    <img src="/app/img/works/mon-home.jpg" width="100%" />
		</div>
    </div>










    <div class="row">
		<div class="large-12 column">
			<div class="large-12 center column">
			    <h1>
				Style Guide
			    </h1>
			    <p class="">
				We translated our Photoshop style guide to a working CSS3 &amp; HTML5 document for our developers. Otherwise known as an IxD framework, we’re known for creating tradeoffs when we do how we do.
			    </p>
			</div>
		</div>
    </div>  

	<div class="large-12 center column">
	    <img src="/app/img/works/d3.jpg"/>
	</div>
	<div class="spacer">&nbsp;</div>
	<div class="row m-limit divider">
		<div class="large-6 column">
		    <iframe width="560" height="315" src="//www.youtube.com/embed/opy9QemC-dc" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="large-6 column">
		    <h1 class="s-limit">
			Live Motion Web Commercial
		    </h1>
		    <p class="h4 oxygen">
			We shot this web commercial on the Red Epic. The finished product spectacularized the Monthlys brand and brought instant credibility to our vision.
		    </p>
		</div>
		<div class="large-12 center column">
		
		    <img src="/app/img/works/d5.jpg"/>
		</div>
    </div>

    <div class="row m-limit divider">
		<div class="large-12 column">
			<div class="large-12 center column">
		
			    <h1 class="s-limit">
				User Interface, HTML 5 &amp; CSS3
			    </h1>
			    <p class="h4 oxygen">
				Our watcheful eye over the performance of the site kept our guts in check with what needed to be done versus what was nice to have. We work hard to ensure we're always moving in a better direction.
			    </p>
			</div>
		</div>
		<div class="large-12 center column">
	
	    	<img src="/app/img/works/d6.jpg"/>
		</div>
    </div>  

    <div class="row m-limit divider">
    	<div class="large-12 column">
			<div class="large-12 center column">
				<br /><br />
			    <h1 class="s-limit">
				Animated Explainer Video
			    </h1>

			    	<div class="large-6 column">
				    	<iframe width="560" height="315" src="//www.youtube.com/embed/KF9dcgslES8" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="large-6 column">
					    <img src="/app/img/works/d9.jpg"/>
			    <br /><br />
			    <br />
					</div>

			    <p class="h4 oxygen">
				Our process of storyboarding kept costs down and creativity maxed out - a tradeoff as we like to call it. We partnered up with Loose Keys to finish the video and give it the perfect touch.
			    </p>
			</div>
		</div>
    </div>

    <div class="row center m-limit divider">
		<div class="large-5 left column text-left">
		    <h1 class="s-limit">
			Ad Strategy
		    </h1>
		    <p class="h4 oxygen">
			We designed tailored ads and landing page pairs in a gang of verticals to capture leads. These leads would later be funneled into our activation email sequence.
		    </p>
		</div>
		<div class="large-7 left column text-left">
		    <img src="/app/img/works/d10.jpg"/>
		</div>
    </div>
    <div class="row center m-limit divider">
		<div class="large-6 left column text-left">
			<img src="/app/img/works/d11.jpg"/>
		    
		</div>
		<div class="large-5 left column text-left">
		    <h1 class="s-limit">
			Lead Generation
		    </h1>
		    <p class="h4 oxygen">
			We used the same ads to fuel third party lead generation programs, email acquisition strategies and online conversion.
		    </p>
		</div>
    </div>

      <div class="row m-limit divider">
		<div class="large-12 column">
			<div class="large-12 center column">
				<br /><br />
			    <h1 class="s-limit">
				Activation &amp; Retention Strategy
			    </h1>
			    <p class="h4 oxygen">
				We worked with Monthlys marketing team on activation and retention strategies to encrouage first time usage and repeat usage. Our efforts helped activate 2,500 new paying subscribers in 90 days.
			    </p>
			</div>
		</div>
		<div class="large-12 center column">
		
	    	<img src="/app/img/works/d12.jpg"/>
		</div>
    </div>  

    <div class="row center m-limit ">
		<div class="large-12 column">
			<p class="h4 oxygen">
			Check out <a href="http://monthlys.com">Monthlys.com</a> and <a href="http://monthlys.com/business">Monthlys for Business.
			</p>
		</div>
		
    </div>  


</div>  