<h1>Francke is a hybrid designer-developer.<br />
He creates ambitious apps.</h1>

<h2>Recently: launched linx, sun-times iOS7 app, monthlys.com, groupon</h2>
<br /><br />
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>



      <div class="row" style="padding:30px 15px 15px;">
        <div ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="col-md-3" style="display:block;height:400px;width:400px;margin-right:40px;" >

         <a href="#/phones/{{phone.id}}" ><img ng-src="{{phone.imageUrl}}" width="395px;"></a>
        </div>
     </div>

 

