<h1>Here are some of the projects I've been involved in<br />
</h1>

<h2>Recently: launched linx, sun-times iOS7 app, monthlys.com, groupon</h2>
<br /><br />
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>



      <div class="row" style="padding:30px 15px 35px 15px;">
        <div ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="col-md-4" style="display:block;height:2%;width:80%;margin:30px 30px 0px 0px;" >

         <a href="#/phones/{{phone.id}}" ><img ng-src="{{phone.imageUrl}}" width="100%;"></a>

        </div>

     </div>

 

